<div class="container">


  <% @users.each do |user| %>
    <% if user.Customer_support? %>
      <h2> Role: Customer Support </h2>
    <% elsif user.Super_Admin? %>
      <h2> Role: Super Admin </h2>
    <% elsif user.Admin? %>
      <h2> Role: Admin </h2>
    <% elsif user.Designers? %>
      <h2> Role: Designers </h2>
    <% end %>
    <% unless user.Customer_support? %>
      <div>
        <%= link_to "Create User", new_user_path %>
      </div>
    <% end %>
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Role</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td><%= user.name %></td>
          <td>
            <%= user.role %>
          </td>
          <td>
            <%= link_to "Show", user_path(user) %>
            <% if user.Super_Admin? || user.Admin? %>
              <%= link_to "Edit", edit_user_path(user) %>
            <% end %>
            <% if user.Super_Admin? %>
              <%= link_to "Destroy", user_path(user),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
