<div class="container">
  <br>
  <div>
    <h2> Role: <%= user_role %> </h2>
  </div>
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <%= button_to 'Orders Data', access_management_index_path, method: :get, class: 'btn btn-info' %>
    </div>
    <% if current_user.SuperAdmin? || current_user.Admin? %>
      <div class="col-sm-2">
        <%= button_to 'Create Customer', new_customer_path, method: :get, class: 'btn btn-info' %>
      </div>
      <div class="col-sm-2">
        <%= button_to 'All Customer', customers_path, method: :get, class: 'btn btn-info' %>
      </div>
      <div class="col-sm-2">
        <%= button_to 'Create Product', new_product_path, method: :get, class: 'btn btn-info' %>
      </div>
      <div class="col-sm-2">
        <%= button_to 'All Product', products_path, method: :get, class: 'btn btn-info' %>
      </div>
    <% elsif current_user.Designers? %>
      <div class="col-sm-2">
        <%= button_to 'Create Customer', new_customer_path, method: :get, class: 'btn btn-info' %>
      </div>
      <div class="col-sm-2">
        <%= button_to 'Create Product', new_product_path, method: :get, class: 'btn btn-info' %>
      </div>
    <% end %>
    <div class="col-sm-1">
    </div>
  </div>

  <table class="table">
    <thead>
      <th>Name</th>
      <th>Role</th>
      <th></th>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td>
            <%= user.role %>
          </td>
          <td>
            <%= link_to "Show", user_path(user) %>
            <% if current_user.SuperAdmin? || current_user.Admin? %>
              <%= link_to "Edit", edit_user_path(user) %>
            <% end %>
            <% if current_user.SuperAdmin? %>
              <%= link_to "Destroy", user_path(user),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
