<%= form_with model: @customer, multipart: true do |form| %>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= form.label :customer_id, 'Customer ID' %>
        <%= form.text_field :customer_id %>
      </div>
      <div class="mb-3">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email %>
      </div>
      <div class="mb-3">
        <%= form.label :group %>
        <%= form.text_field :group %>
      </div>

      <%= submit_tag "Submit" %>
    </div>
  </div>
<% end %>
